blinker==1.8.2
click==8.1.7
et-xmlfile==1.1.0
Flask==3.0.3
Flask-Cors==4.0.1
gunicorn==21.2.0
itsdangerous==2.2.0
Jinja2==3.1.4
lxml==5.3.0
MarkupSafe==2.1.5
openpyxl==3.1.2
packaging==24.1
python-docx==1.1.2
typing_extensions==4.12.2
Werkzeug==3.0.3
